.ren{
  margin-top: -8px;
  background-color: rgb(8, 8, 68);
}
.container{
  background-color: rgb(49, 9, 49)  ;
}

.text-center{
  color: white;
}
.lab{
  color: white;
  font-weight: bold;  
}

.register-container{

  width:  500px;
  height: 600px;
}
.mistake{
  position:relative;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  color: red;
}
.greet{
  font-size: xx-large;
  margin-top: 205px;
}